QUEUE_SCHEME=amqp
QUEUE_HOST=queue
QUEUE_PORT=5672
QUEUE_NAME=services
QUEUE_NUMBER_OF_CONSUMERS=3
REQUEUE_FAILED_AFTER_MILLISECONDS=5000
FILE_LOG_ENABLED=1
FAST_PUBLISH=0
AUTHORIZATION_HEADER=X-Authorization
AUTHORIZATION_KEY=yourauthorizationkey
TLS=0
REDIRECT_TO_TLS=1
RABBITMQ_DEFAULT_USER=usernameforrabbitmq
RABBITMQ_DEFAULT_PASS=passwordforrabbitmq
RABBITMQ_DEFAULT_VHOST=/
RABBITMQ_HIPE_COMPILE=1
